body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient( #f0ecfd, #7abaff); 
  }  
header {
    text-align: center;
}

  
h1 {
  margin: 0;
  font-size: 60px;
  padding: 20px;
  color: rgb(44, 30, 100);
}

h2{
  font-size:30px;
}
h3{
  margin: 0;
  padding-left:200px ;
  padding-right: 200px;
  text-align: left;
  line-height: 2;
  font-size: 19px;
  /* padding-left: 100px;
  padding-right: 100px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: left;
  line-height: 2;
  font-size: 19px; */
}

.search-container {
  width: 600px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
  width:100%;
  max-width: 700px;
  background:rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  height:  40px;
  padding: 10px 20px;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 16px 12px; 
  font-size: 20px;
  color: #ffffff;
}

::placeholder{
  color: #58585a;
}
.search-bar button{
  border:0;
  border-radius: 50%;
  width: 40px; 
  height: 40px; 
  background: #ffffff;
  cursor: pointer;
}  

.search-bar button i {
  font-size: 18px;
  color: #85007a;
}

  #image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 60px;
    padding: 20px;
  }

  .img-container {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .img-container.zoomed {
    transform: scale(1.4); 
  }
  
  
  img {
    width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  }
  img:hover{
    cursor: pointer;
  }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #000000;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.image-details {
  margin-top: 20px;
}

.image-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.image-details p {
  margin: 5px 0;
}

.image-details a {
  color: #77007f;
  text-decoration: underline;
}